body {
	background-color: #4D70B8;
	margin: 0px;
	padding: 0px;
	margin: 0px;
}

header {
	background-color: #001A4C;
	position: relative;
	width:100%;
	height: 100px; 	
}

#logo h1{
	margin-top: 0px;
	padding-top: 30px;
	color: #777777;
    text-shadow: 2px 2px #000000;
}

#login_container{
	background-color: #001A4C;
	width: 25%;
	height: 100%;
	float: right;
	margin-top: -100px;
	display: block;
}

#logo {
	text-align: center;
	height: 100%;
	width: 75%;
}

#login_container form{
	height: 100%;
	margin-left: 10%;
	margin-top: -2%;
}

#login_container p{
	margin-top: 0px;
}

#login_container form p a{
	color: #FFFFFF;
}

#login_container h2{
    color: #FFFFFF;
}

#login_container a{
    color: #FFFFFF;
}

.input_text{
	margin-top: 5px;
}

#signin_btn{
    width:25%;
}

nav{
	width: 85%;
	height: 30px;
	background-color: #4D70B8;
	margin-left: 15%;
}

nav a{
	display: none;
        margin-left: 15%;
}

section {
	width: 15%;
	height: 500px;
	margin-top: -50px;
	background-color: #4D70B8;
	border-right:1px #777777 solid;
}

section h1{
	text-align: center;
	color: #777777;
        text-shadow: 2px 2px #000000;
}

section ul li a{
    color: #FFFFFF;
}

#categories_scrolled_container{
    overflow-y:auto;
    width:110%;
    display: block;
    height: 430px;
    margin-left:-30px; 
    direction: rtl;
    text-align: left;
}

#categories_scrolled_container li{
    margin-left: 10px;
}

aside{
	width:50%;
	height:470px;
	margin-top: -470px;
	margin-left: 15%;
	background-color: #4D70B8;
	border-left:1px #777777 solid;
}

.input_text{
	width: 65%;
}

/*************space at links
a.invisible {
	margin-left: 15%;
	display: inline;
}
*/

#aside_container {
	display: block;
}

#aside_search {
	z-index: 50;
	margin-left: 8%;
	padding-top: 30px;
	position:fixed;
	width: 35%;
	height: 10%;
	display: inline;
}

#search_input{
	width: 80%;
	height: 40%;
}

#search_button{
	width: 20%;
	height: 40%;
}

#googleMap {
	width:99%;
	height:470px;
}

#section2 {
	background-color: #4D70B8;
	width: 35%;
	height: 451px;
	margin-left: 65%;
	margin-top: -490px;
	display: block;
	
}

#section2 div h2{
	text-align: center;
	padding-top: 10px;
	background-color: graytext;
	border-bottom:2px #777777 solid;
}

#scrolled_container{
	float: right;
	width:100%;
	overflow-y: auto;
	height: 431px;
	margin-top: -20px;
	display: block;
}

#scrolled_container .result{
	display: block;
	width: 100%;
	height: 120px;
	border-bottom:2px #000000 solid;
}

#scrolled_container .result .res_name{
	background-color: whitesmoke;
	height: 60px;
	border-bottom:1px #777777 solid;
}

#scrolled_container .result .res_content{
	background-color: white;
	height: 60px;
}

        .dislike{
            background-image: url(http://localhost:8084/SAMakis_Project/icons/dislike.png);
        }
        
        .like{
            background-image: url(http://localhost:8084/SAMakis_Project/icons/like.png);
        }

footer{
	background-color: #001A4C;
	width:100%;
	height: 43px;
	text-align: center;
	margin-top: 19px;//500 px otan admin...
}

.res_name img{
        width: 50px;
        height: 50px;
        margin:1%;
}

.res_name h3{
    margin-top:-45px; 
    margin-left: 60px;
}

.res_content button{
    width: 20%;
    height: 50px;
    margin-top: 5px;
    background-size: 100%
}

.res_content img{
    margin-left: -7px;
    margin-top: -1px;
}

#user{
    display:block;
}


#admin{
		display: none;
		width: 100%;
		height: 500px;
		background-color: red;
		float: left;
	}

	#cats{
		background-color: green;
		width: 30%;
		height: 510px;
		margin-top: -20px;
	}

	.admin_cats{
		width: 70%;
		height: 30px;
		margin-top: 55px;
		margin-left: 7.5%;
	}

	#choices{
		background-color: yellow;
		margin-left: 30%;
		margin-top: -510px;
		width: 70%;
		height: 510px;
	}

	#choices form{
		display: none;
		padding-top: 10%;
		padding-left: 40%;
	}

	#choices .input_text{
		display: block;
		width:40%; 
		height: 35px;
		margin-top: 10px;
	}

	#choices button{
		width: 40%;
		height: 50px;
		margin-top: 10px;
	}

	#comments form{
		display: none;
	}
        
	#delete_shops{
		width: 100%;
		height: 450px;
		overflow-y:auto; 
	}

	table{
		width:100%;
	}

	table, th, td {
	    border: 1px solid black;
	    border-collapse: collapse;
	}


/**   blured window,prepei na mpei se
#section2 {     
    -webkit-filter: blur(10px);     
    filter: blur(10px);      
}*/