body {
	margin: 0px;
	padding: 0px;
	margin: 0px;
}

header {
	background-color: #001A4C;
	position: relative;
	width:100%;
	height: 100px; 	
}

#logo h1{
	margin-top: 0px;
	padding-top: 30px;
	color: #777777;
    text-shadow: 2px 2px #000000;
}

#user_container{
	background-color: #001A4C;
	width: 25%;
	height: 100%;
	float: right;
	margin-top: -100px;
	display: block;
}

#logo {
	text-align: center;
	height: 100%;
	width: 75%;
}

#user_container form{
	height: 100%;
	margin-left: 10%;
	margin-top: -2%;
}

#user_container p{
	margin-top: 10%;
	margin-left: 20%;
}

#user_container form p a{
	color: #FFFFFF;
}

.input_text{
	margin-top: 5px;
}

nav{
	width: 85%;
	height: 30px;
	background-color: #4D70B8;
	margin-left: 15%;
}

nav a{
	color: #FFFFFF;
}

section {
	width: 15%;
	height: 500px;
	margin-top: -50px;
	background-color: #4D70B8;
	border-right:1px #777777 solid;
}

section h1{
	text-align: center;
	color: #777777;
    text-shadow: 2px 2px #000000;
}

section ul li a{
    color: #FFFFFF;
}

aside{
	width:50%;
	height:470px;
	margin-top: -470px;
	margin-left: 15%;
	background-color: #4D70B8;
}

.input_text{
	width: 65%;
}


a.invisible {
	margin-left: 15%;
	display: inline;
}


#aside_container {
	display: block;
}

#aside_search {
	z-index: 1000;
	margin-left: 8%;
	padding-top: 30px;
	position:fixed;
	width: 35%;
	height: 10%;
	display: inline;
}

#search_input{
	width: 80%;
	height: 40%;
}

#search_button{
	width: 20%;
	height: 40%;
}

#googleMap {
	width:100%;
	height:470px;
}

#section2 {
	background-color: #4D70B8;
	width: 35%;
	height: 451px;
	margin-left: 65%;
	margin-top: -490px;
	display: block;
	
}

#section2 div h2{
	text-align: center;
	padding-top: 10px;
	background-color: graytext;
	border-bottom:2px #777777 solid;
}

#scrolled_container{
	float: right;
	width:100%;
	overflow-y: auto;
	height: 431px;
	margin-top: -20px;
	display: block;
}

#scrolled_container .result{
	display: block;
	width: 100%;
	height: 150px;
	border-bottom:2px #000000 solid;
}

#scrolled_container .result .res_name{
	background-color: whitesmoke;
	height: 60px;
	border-bottom:1px #777777 solid;
}

#scrolled_container .result .res_content{
	background-color: white;
	height: 90px;
}



footer{
	background-color: #001A4C;
	width:100%;
	height: 43px;
	text-align: center;
	margin-top: 19px;
}
